.catalog {
  outline-color: darkgoldenrod;
  outline-style: dotted;
}

.product-card {
  outline-color: purple;
  outline-style: dotted;
}

.product-card__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.product-card__link {
  color: @black-color;
}

.product-card__info {
  color: @grey-color;
  font-size: 13px;
  line-height: 30px;
}

.product-card__price {
  color: @black-color;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
