.contacts {
  flex-wrap: wrap;

  .contacts__wrapper {
    .block-padding;
    width: 260px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 36px;
    margin-top: 51px;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 26px;

    .title-mixin;
    font-size: 18px;
  }

  .contacts__email {
    display: flex;
    margin-top: 26px;
    margin-bottom: 29px;
    color: @grey-color;
    font-size: 15px;
    line-height: 30px;
  }

  .contacts__link {
    color: @grey-color;
    border-bottom: 1px solid @green-theme;

    &:hover,
    &:focus {
      color: @green-theme;
      outline: none;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .contacts__address {
    display: flex;
    color: @grey-color;
    font-size: 15px;
    line-height: 30px;
  }

  .contacts__type {
    width: 76px;
    flex-shrink: 0;
  }

  .contacts__address-text {
    margin: 0;
  }

  .contacts__map-container {
    width: 320px;
    height: 457px;
    margin: 0 auto;
    background-color: #ebe5d9;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.webp"), url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center top 145px, center;
  }

  .contacts__map-image {
    border: none;
    width: 100%;
  }
}

.contacts__button-container {
  width: 260px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 37px;
  .block-padding;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    margin-bottom: 23px;

    .contacts__wrapper {
      width: 668px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-top: 59px;
      padding-bottom: 56px;
      margin-top: 0;

      &::after {
        content: "";
        position: absolute;
        top: 43px;
        right: 53px;
        width: 47px;
        height: 82px;
        background-image: url("../img/icon-flag.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .contacts__title {
      .tablet-title-mixin;

      width: 100%;
      margin-bottom: 49px;
    }

    .contacts__email {
      width: 334px;
      font-size: 17px;
      margin-top: 0;
    }

    .contacts__address {
      width: 330px;
      font-size: 17px;
    }

    .contacts__map-container {
      width: 100%;
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.webp"), url("../img/map-tablet@1x.jpg");
      background-size: auto, cover;
    }
  }

  .contacts__button-container {
    margin: 0 auto;
    margin-top: 14px;
    width: 214px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 106px;

    .contacts__wrapper {
      width: 340px;
      flex-direction: column;
      margin-left: 175px;
      padding: 0;
      padding-top: 70px;
      background-position: left 20px top 30px;

      &::after {
        left: -111px;
        top: 62px;
      }
    }

    .contacts__title {
      .desktop-title-mixin;
      width: auto;
      margin-left: -2px;
    }

    .contacts__email {
      margin-top: 47px;
    }

    .contacts__map-container {
      width: 530px;
      margin: 0;
      margin-right: -4px;
      background-position: center center;
    }

    .contacts__map-image {
      background-image: url("../img/map-desktop@1x.webp"), url("../img/map-desktop@1x.jpg");
    }
  }

  .contacts__button-container {
    position: relative;
    padding: 0;
    margin-left: 175px;
    margin-top: -52px;
    width: 230px;
  }
}
