.main-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 320px;
  border-bottom: 1px solid @stroke-color;

  &--js-opened {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .main-nav__logo-wrapper {
    .block-padding;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 78px;
    box-sizing: border-box;

    border-top: 1px solid @stroke-color;
  }

  .main-nav__logo {
    width: 86px;
    height: 35px;
    margin-left: 86px;
    margin-right: auto;
    font-size: 0;
    background-image: url("../img/logo-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    &[href]:hover,
    &[href]:focus {
      opacity: 0.6;
      outline: none;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  .main-nav__button {
    width: 21px;
    height: 21px;
    margin: auto 0;

    font-size: 0;
    line-height: 0;

    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-menu-close.svg");
    border: none;

    &--show {
      display: block;
    }

    &--closed {
      background-image: url("../img/icon-menu-open.svg");
    }
  }

  .main-nav__list {
    &--closed {
      display: none;
    }
  }

  .main-nav__delivery {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: @tablet-width;
    border-bottom: none;

    &--js-opened {
      position: static;
    }

    .main-nav__logo-wrapper {
      width: 370px;
      padding-left: 48px;
      border-top: none;
    }

    .main-nav__logo {
      width: 113px;
      height: 46px;
      margin-left: 0;
      /*background-image: url("../img/logo-tablet.svg");*/
      background-position: center;
    }

    .main-nav__button {
      display: none;
    }

    .main-nav__list {
      &--closed {
        display: flex;
      }
    }

    .main-nav__delivery {
      display: block;
      order: 2;
      z-index: 1;
      padding-top: 17px;
      font-size: 15px;
      color: @grey-color;

      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.6);
        outline: none;
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
      }

      .block-padding;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: @desktop-width;
    align-items: center;

    .main-nav__logo-wrapper {
      width: auto;
      flex-grow: 1;
      padding: 0;
    }

    .main-nav__logo {
      width: 149px;
      height: 73px;
      margin: 0;
      /*background-image: url("../img/logo-desktop.svg");*/
    }
    
    .main-nav__delivery {
      padding-right: 150px;
    }
  }
}
