.page-catalog {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-catalog__title {
  color: @black-color;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  padding: 80px 0;
}
