.page-button {
  color: @grey-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid @grey-color;
  background-color: @main-theme;
  padding: 14px 84px;
}
