.page-form {
  margin: 0 auto;
  outline-color: chocolate;
  outline-style: dotted;
}

.page-form__title {
  color: @black-color;
  background-color: @grey-background-color;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  padding: 80px 0;
  text-align: center;
}
