.popular-product {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  outline-color: brown;
  outline-style: dotted;
}

.popular-product__title {
  .title-mixin
}

.popular-product__subtitle {
  color: @green-theme;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.popular-product__text {
  color: @grey-color;
  font-size: 15px;
  line-height: 24px;
}

.popular-product__img {
  width: 260px;
  height: 315px;
}

.popular-product__price {
  color: @grey-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}
