.promo {
  outline-color: cyan;
  outline-style: dotted;
}

.promo-card__title {
  color: @black-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.promo__description {
  color: @grey-color;
  font-size: 13px;
  line-height: 24px;
}

.promo__button {
  padding: 14px 24px;
}