.promo {
  height: 503px;
  margin-top: 31px;
  margin-bottom: 56px;
  border: 1px solid #e6e4e3;
}

.promo__title {
  position: relative;
  color: @black-color;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  width: 145px;
  padding: 23px 44px 24px 91px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.promo__description {
  color: @grey-color;
  font-size: 13px;
  line-height: 24px;
  width: 190px;
  margin: 0;
  margin-top: 22px;
  padding-left: 34px;
}

.promo__photo {
  position: relative;
}

.promo__button {
  padding: 14px 14px;
  width: 190px;
  margin: 0 35px;
  margin-top: 26px;
}

.promo__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 102px;
  height: 78px;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
    background-size: cover;
    outline: none;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;
    height: 743px;
    margin-top: 50px;
    margin-bottom: 64px;
  }

  .promo__photo {
    width: 668px;
    height: 460px;
    order: 1;
  }

  .promo__title {
    order: 2;
    font-size: 20px;
    line-height: 24px;
    width: 260px;
    padding: 35px 40px 24px 106px;
    margin: 0;

    &::before {
      left: 40px;
      top: 55%;
    }
  }

  .promo__description {
    order: 3;
    width: 580px;
    font-size: 15px;
    line-height: 30px;
    padding: 0 40px;
    margin-top: 8px;
  }

  .promo__button {
    order: 4;
    width: 585px;
    margin: 0 42px;
    margin-top: 36px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 1050px;
    height: 455px;
    flex-wrap: wrap;
    margin-top: 56px;
    margin-bottom: 104px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .promo__title {
    width: 160px;
    padding: 96px 42px 25px 0;
    margin-left: 63px;

    &::before {
      left: 2px;
      top: 35%;
    }
  }

  .promo__photo {
    width: 683px;
    height: 460px;
  }

  .promo__description {
    max-width: 230px;
    padding: 0;
    margin-left: 63px;
  }

  .promo__button {
    max-width: 230px;
    margin-left: 65px;
    margin-top: 45px;
  }
}
