.promo {
  position: relative;
  padding-top: 25px;
  padding-bottom: 33px;

  border: 1px solid @stroke-color;

  .promo__container {
    padding: 0 33px;
  }

  .promo__title {
    position: relative;
    margin: 0;
    margin-bottom: 200px;
    padding-left: 55px;
    font-size: 17px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 22px;
      background-image: url("../img/icon-video.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .promo__video {
    position: absolute;
    height: auto;
    top: 95px;
    left: 0;
    margin-bottom: 28px;

    font-size: 0;
    line-height: 0;
  }

  .promo__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 102px;
    height: 78px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &:focus {
      transform: translate(-50%, -50%) scale(1.2);
      background-size: cover;
      outline: none;
    }

    &:active {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0.3;
    }
  }

  .promo__text {
    margin: 0;

    font-size: 13px;
    color: @grey-color;
  }

  .promo__link {
    margin-top: 25px;
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    position: static;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    border: none;

    .promo__container {
      padding: 37px 40px 45px;
      border: 1px solid @stroke-color;
    }

    .promo__video {
      position: relative;
      top: 0;
      height: 455px;
      margin: 0;
      background-color: @stroke-color;
    }

    .promo__title {
      margin: 0;
      margin-bottom: 33px;
      padding-left: 65px;
      font-size: 20px;
    }

    .promo__text {
      font-size: 15px;
      line-height: 30px;
    }

    .promo__link {
      margin-top: 34px;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo {
    flex-direction: row;

    .promo__video {
      flex-shrink: 0;
      width: 682px;
    }

    .promo__container {
      padding-left: 78px;
      padding-right: 56px;
      padding-top: 46px;
    }

    .promo__title {
      padding: 0;
      padding-top: 49px;

      &::before {
        top: 0;
        transform: none;
      }
    }

    .promo__link {
      margin-top: 46px;
    }
  }
}
