.review {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  outline-color: darkorchid;
  outline-style: dotted;
}

.review__title {
  .title-mixin
}

.review__text {
  color: @grey-color;
  font-size: 15px;
  line-height: 30px;
}

.review__author-name {
  color: @black-color;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}

.review__author-email {
  color: @grey-color;
  font-size: 17px;
}

.review__button {
  width: 130px;
  background-color: @main-theme;
  border: 1px solid #ececec;
}

.review__controls {
  display: flex;
}

@media (min-width: @tablet-width) {
  .review {
    width: 668px;
    padding: 0 50px;
    display: flex;
  }
  
  .review__title {
    .tablet-title-mixin
  }
  
  .review__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .review {
    width: 1050px;
    padding: 0 100px;
  }
  
  .review__quote-wrapper {
    padding-left: 175px;
  }
}