.size-select {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  
  outline-color: chartreuse;
  outline-style: dotted;
}

.size-select__title {
  .title-mixin
}

.size-select__notice {
  color: #444444;
  font-size: 15px;
  line-height: 30px;
}

.size-select__send-button {
  color: @main-theme;
  border-color: @green-theme;
  background-color: @green-theme;
}