.title-mixin() {
  color: @black-color;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

.tablet-title-mixin() {
  color: @black-color;
  font-size: 43px;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
}

.desktop-title-mixin() {
  color: @black-color;
  font-size: 53px;
  font-weight: bold;
  line-height: 57px;
  margin: 0;
}
