@main-theme: white;
@black-color: #000000;
@grey-color: #444444;
@grey-background-color: #f1f1f1;
@green-theme: #63d1bb;
@stroke-color: #ececec;
@lightgrey: #f9f9f9;
@tablet-width: 768px;
@desktop-width: 1250px;
@content-padding: 30px;
@content-padding-tablet: 50px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
